<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Questionário - Parte 2</title>
    <link rel="stylesheet" href="quest2.css">
</head>
<body>
    <div class="topo"></div>
    <div class="conteudo"></div>

        <div class="logo-container">
            <img src="1000195539 (3).png" alt="logo">
        </div>

        <h2 class="nome">Fulano de tal</h2>
            <form action="resultado.html" method="get">
                <div class="titulo2">
                    <h1>Questões sobre saúde:</h1>
                </div>        
                <div class="question4">
                    <p>4.  Como você se sente em relação ao vínculo com sua família?</p><br>
                    <label><input type="radio" name="q4" required> Muito próximo e presente</label><br>
                    <label><input type="radio" name="q4"> Próximo, mas com algumas dificuldades  </label><br>
                    <label><input type="radio" name="q4"> Distante </label><br>
                    <label><input type="radio" name="q4">  Muito distante ou inexistente </label><br>
                </div>

            <div class="question5">
                <p>5. Você se sente satisfeito(a) com quem é hoje?</p><br>
                <label><input type="radio" name="q5" required> Sim, me sinto bem.</label><br>
                <label><input type="radio" name="q5"> Razoavelmente satisfeito</label><br>
                <label><input type="radio" name="q5"> Pouco satisfeito(a)</label><br>
                <label><input type="radio" name="q5"> Nada satisfeito(a)</label><br>
            </div>

            <div class="question6">
                <p>6.  Como você se sente em relação a si mesma(o), sua autoconfiança, suas conquistas e sua capacidade de alcançar seus sonhos? </p><br>
                <label><input type="radio" name="q6" required> Confiante em mim mesma(o), satisfeita(o) com minha aparência, orgulhosa(o) das minhas conquistas e totalmente segura de que posso realizar meus sonhos.</label><br>
                <label><input type="radio" name="q6"> Na maior parte do tempo me sinto confiante, razoavelmente satisfeita(o) com minha aparência, reconheço minhas conquistas e acredito que posso alcançar meus sonhos. </label><br>
                <label><input type="radio" name="q6"> Pouco confiante em mim mesma(o), insatisfeita(o) com minha aparência, reconheço poucas conquistas e tenho dúvidas sobre conseguir realizar meus sonhos.</label><br>
                <label><input type="radio" name="q6">  Insegura(o), insatisfeita(o) com minha aparência, não sinto orgulho das minhas conquistas e duvido totalmente da minha capacidade de alcançar meus sonhos. </label><br>
            </div>

            <div class="question7">
                <p>7. O que mais te motiva no dia a dia?</p>
                <label><input type="radio" name="q7" required> Conquistar meus sonhos pessoais</label><br>
                <label><input type="radio" name="q7"> Ser reconhecido(a) pelo que faço</label><br>
                <label><input type="radio" name="q7"> Estar perto de quem amo</label><br>
                <label><input type="radio" name="q7"> Cumprir apenas minhas obrigações</label>
            </div>
            
            </form> 
            </div>
            <a href="quest1.html" class="btn">Voltar</a>
            <a href="fim.html" class="btn2">Finalizar</a>


            <button type="submit"