<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    <link rel="stylesheet" href="templates/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
  </head>
  <body>
    <div class="topo"></div>
    
    <div class="conteudo">
      
      <div class="logo">
        <img src="templates/1000195539 (3).png" alt="logo">
    </div>
  
      
      <form class="form">
        <input type="text" placeholder="Nome" required>
        <input type="email" placeholder="E-mail" required>
        <input type="password" placeholder="Senha" required>
        <a href="templates/aprof.html" class="btn"> Continuar <i class="fa-regular fa-circle-right"></i></a>

      </form>
    </div>
  </body>
  </html>