<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Questionário - Parte 1</title>
    <link rel="stylesheet" href="quest1.css">
</head>
<body>
    <div class="topo"></div>
    <div class="conteudo"></div>
        
    <div class="logo-container">
        <img src="1000195539 (3).png" alt="logo">
    </div>

    <h2 class="nome">Fulano de tal</h2>
        <form action="questionario2.html" method="get">
            <div class="titulo">
                <h1>Questões sobre saúde:</h1>
            </div>
            <div class="question1">
                <p>1. como você está se sentindo hoje?</p><br>
                <label><input type="radio" name="q1" required> Muito bem</label><br>
                <label><input type="radio" name="q1"> Bem</label><br>
                <label><input type="radio" name="q1"> Razoavel</label><br>
                <label><input type="radio" name="q1"> Mal</label><br>
            </div>

            <div class="question2">
                <p>2. Agora sobre o seu sono, quantas horas você tem dormido por noite,<br> nos últimos 5 dias?</p><br>
                <label><input type="radio" name="q2" required> De 8  a 10 horas por noite </label><br>
                <label><input type="radio" name="q2"> De 8 horas por noite</label><br>
                <label><input type="radio" name="q2"> De 8 a 3 horas por noite  </label><br>
                <label><input type="radio" name="q2"> Muito pouco</label><br>
                <label><input type="radio" name="q2"> O suficiente pra que eu me sinta bem na minha rotina </label><br>
            </div>

            <div class="question3">
                <p>3. Sobre sua auto-regulação, como você lida com suas emoções no seu dia a dia? (Ex. Ansiedade, Medo, Raiva, Tristeza, Frustração, Tédio) </p><br>
                <label><input type="radio" name="q3" required> Lido bem com minhas emoções</label><br>
                <label><input type="radio" name="q3"> Tenho algumas dificuldades, mas consigo me regular bem </label><br>
                <label><input type="radio" name="q3"> Tenho dificuldade pra lidar com minhas emoções de forma saudável (Exemplo: Explosões de raiva, crises de choro e crises de ansiedade) </label><br>
                <label><input type="radio" name="q3"> Não sei lidar bem com as minhas emoções </label>
            </div>
            <a href="quest2.html" class="btn"> Proximo...</a>
        </form>


    </div>
</body>
</html>